.Cart{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
}
.Cart-top{
    display: flex;
}
.Cart-top>a{
    color: #368ED7;
    font-weight: bold;
    flex-grow: 1;
}
.Cart-box{
    margin-top: 15px;
    background: #fff;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
}
.Cart-box-list{
    border-bottom: 1px solid #d8d8d8;
    padding: 20px;
}
.Cart-box-item{
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.Cart-box-item-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 5px;
}
.Cart-box-item-img>img{
    width: 75px;
    margin: 5px 0 10px;
}
.Cart-box-item-img-btn{
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
.Cart-box-item-img-btn i{
    margin-right: 3px;
}
.Cart-box-item-detail{
    flex-grow: 1;
}
.Cart-box-item-detail>a{
    font-weight: bold;
}
.Cart-box-item-detail-promo{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.Cart-box-item-detail-promo>span{
    color: #333;
    margin-bottom: 5px;
    font-size: 12px;
}
.Cart-box-item-detail-promo>span::before{
    content: '•';
    font-size: 20px;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
.Cart-box-item-detail-promo>p>span{
    color: #c10017;
}
.Cart-box-item-price{
    width: 100px;
    display: flex;
    flex-direction: column;
}
.Cart-box-item-price>p{
    color: #c10017;
    flex-grow: 1;
    text-align: end;
}
.Cart-box-item-price-quanti{
    display: flex;
    position: relative;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    line-height: 32px;
    font-size: 14px;
    color: #333;
    margin: 5px 0 5px 0;
}
.Cart-box-item-price-quanti__abate{
    border-right: 1px solid #dfdfdf;
    background: #fff;
    width: 34px;
    height: 32px;
    position: relative;
    cursor: pointer;
}
.Cart-box-item-price-quanti__abate::before{
    content: '';
    width: 12px;
    height: 2px;
    background: #288ad6;
    display: block;
    margin: 15px auto;
}
.Cart-box-item-price-quanti__num{
    font-size: 14px;
    color: #333;
    float: left;
    width: 34px;
    height: 32px;
    text-align: center;
}
.Cart-box-item-price-quanti__augment{
    border-left: 1px solid #dfdfdf;
    background: #fff;
    width: 34px;
    height: 32px;
    position: relative;
    cursor: pointer;
}
.Cart-box-item-price-quanti__augment::before{
    content: '';
    width: 12px;
    height: 2px;
    background: #288ad6;
    display: block;
    margin: 15px auto;
}
.Cart-box-item-price-quanti__augment::after{
    content: '';
    width: 2px;
    height: 12px;
    background: #288ad6;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}
.Cart-box-item-price-quanti--disable{
    pointer-events: none;
}
.Cart-box-item-price-quanti--disable::before,
.Cart-box-item-price-quanti--disable::after{
    background: #ccc;
}
.Cart-box-pay>div{
    display: flex;
}
.Cart-box-pay>div>p{
    flex-grow: 1;
}
.Cart-box-pay-price{
    margin-bottom: 8px;
}
.Cart-box-pay-total{
    font-weight: bold;
}
.Cart-box-pay-total>span{
    color: #c10017;
    font-size: 16px;
}
.Cart-box-form{
    padding: 20px;
}
.Cart-box-form-list{
    display: flex;
    justify-content: space-between;
}
.Cart-box-form-name{
    width: 49%;
    margin-bottom: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px 5px;
    margin-bottom: 10px;
}
.Cart-box-form-phone{
    width: 49%;
    margin-bottom: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px 5px;
    margin-bottom: 10px;
}
.Cart-box-form-email,
.Cart-box-form-adr,
.Cart-box-form-note{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px 5px;
    margin-bottom: 10px;
}
.Cart-box-form input{
    width: 100%;
}
.Cart-box-form-btn{
    text-align: center;
}
.Cart-box-form-btn>button{
    padding: 15px 90px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    border: none;
    cursor: pointer;
}
.Cart__txt{
    font-size: 11px;
    color: #999;
    text-align: center;
    line-height: 50px;
}
.Null-cart{
    padding-top: 150px;
    width: 490px;
    margin: auto;
    text-align: center;
    font-size: 16px;
}
.Null-cart>i{
    font-size: 60px;
    color: #ff0b28;
    margin-bottom: 20px;
}
.Null-cart>a{
    display: block;
    overflow: hidden;
    background: #fff;
    line-height: 40px;
    text-align: center;
    margin: 15px auto;
    width: 300px;
    font-size: 14px;
    color: #288ad6;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #288ad6;
    border-radius: 4px;
}
.Null-cart>span{
    padding: 10px;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    margin: auto;
    text-align: center;
}
