/*************** Header ***************/
header{
    background: #fed700;
}
.Menu{
    display: flex;
}
.Menu-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 55px;
}
.Menu-wrap-logo{
    padding: 14px 0 0 10px;
    height: 100%;
}
.Menu-wrap-search{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 14px 0 10px;
}
.Menu-wrap-search-input{
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 190px;
    height: 35px;
    background: #fff;
    border-radius: 4px 0 0 4px;
}
.Menu-wrap-search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    background: #fff;
    border-radius: 0 4px 4px 0;
}
.Menu-wrap-search-btn i{
    font-size: 18px;
    color: #919191;
    cursor: pointer;
}
.Menu-list{
    display: flex;
}
.Menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
}
.Menu-item:hover{
    background: #fff;
}
.Menu-item i{
    font-size: 24px;
}
.Menu-item p{
    margin: 5px 10px;
}
.Menu-txt{
    display: flex;
    flex-grow: 1;
}
.Menu-txt-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 13px;
}
.Menu-txt-item:hover{
    background: #fff;
}
.Menu-txt-item:first-child{
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
}
.Menu-txt-item p{
    padding: 2px 0;
}
@media (max-width: 1200px) {
    .Menu-list{
        flex-grow: 1;
    }
    .Menu-item{
        flex-grow: 1;
    }
    .Menu-txt{
        display: none;
    }
}
/*************** Nav ***************/
.Nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    height: 48px;
    width: 100%;
    z-index: 1;
}
.Nav--active{
    height: 100%;
}
.Nav-content{
    display: flex;
    min-height: 48px;
    width: 100%;
    background: #000;
}
.Nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
}
.Nav__logo img{
    height: 33px;
}
.Nav-search{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.Nav-search__input,
.Nav-search__btn{
    display: flex;
    align-items: center;
    height: 32px;
    background: #fff;
}
.Nav-search__input{
    flex-grow: 1;
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
}
.Nav-search__input input{
    width: 100%;
    height: 100%;
}
.Nav-search__btn{
    justify-content: center;
    width: 35px;
    border-radius: 0 4px 4px 0;
    color: #919191;
}
.Nav-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 55px;
}
.Nav-hamburger-content{
    position: relative;
    height: 33px;
    width: 30px;
}
.Nav-hamburger-content__ico{
    position: absolute;
    right: 0;
    transition: all ease-in-out 0.1s;
    background: #fff;
    height: 2px;
    width: 100%;
    margin: 4px 0;
}
.Nav-hamburger-content__ico:nth-child(2){
    top: 10px;
}
.Nav-hamburger-content__ico:nth-child(3){
    top: 20px;
}
.Nav--active .Nav-hamburger-content__ico:nth-child(2){
    right: -60px;
}
.Nav--active .Nav-hamburger-content__ico:first-child{
    top: 10px;
    transform: rotate(-135deg);
}
.Nav--active .Nav-hamburger-content__ico:nth-child(3){
    top: 10px;
    transform: rotate(135deg);
}
.Nav-menu{
    width: 100%;
    flex-grow: 1;
    background: rgba(0,0,0,.4);
}
.Nav-menu-content{
    background: #fff;
}
.Nav-menu-content-list{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 2%;
}
.Nav-menu-content-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21%;
    height: 46px;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 5px 2% ;
    background: -webkit-linear-gradient(top,#fff,#e5e5e5);
}
@media (max-width: 768px) {
    .Nav-menu-content-item{
        width: 29.33%;
        margin: 5px 2% ;
    }
}
@media (max-width: 576px) {
    .Nav-menu-content-item{
        width: 46%;
        margin: 5px 2% ;
    }
}
.Nav-menu-content-item h3,
.Nav-menu-content-item h4{
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
}
.Nav-menu-content-phone{
    display: flex;
    padding: 7px 4%;
}
.Nav-menu-content-phone p{
    text-transform: uppercase;
}
.Nav-menu-content-phone a{
    margin: 0 10px;
    font-size: 16px;
    color: #288ad6;
}

/*************** Banner ***************/
.Banner{
    display: flex;
    margin-top: 10px;
}
.Carousel{
    flex: 0 0 65.83%;
}
.Carousel-content{
    overflow: hidden;
    position: relative;
}
.Carousel-content:hover .Carousel-content__btn{
    display: block;
}
.Carousel-content-list{
    position: relative;
    display: flex;
    height: 100%;
}
.Carousel-content-item{
    min-width: 100%;
}
.Carousel-content-item>img{
    width: 100%;
    height: 100%;
}
.Carousel-content__btn{
    display: none;
    position: absolute;
    top: 50%;
    color: #fff;
    font-family: -webkit-body;
    font-size: 45px;
    transform: translateY(-50%);
    background: rgba(0,0,0,.3);
    border-radius: 5px;
    width: 40px;
    height: 60px;
    padding-bottom: 50px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}
.Carousel-content__btn--prev{
    left: 10px;
}
.Carousel-content__btn--next{
    right: 10px;
}
.Carousel-nav{
    display: flex;
    align-items: center;
    min-height: 55px;
    background: #fff;
}
.Carousel-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    border-right: 1px solid #EBEBEB;
}
.Carousel-nav-item:last-child{
    border-right: none;
}
.Carousel-nav-item--active{
    font-weight: 600;
}
.Carousel-nav-item__txt{
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
}
.Banner-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 10px;
}
.Banner-content-item{
    flex-grow: 1;
    background: #fff;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}
.Banner-content-item:last-child{
    margin-bottom: 0;
}
.Banner-content-item-new{
    display: flex;
    height: 35%;
    border-bottom: 1px solid #e5e5e5;
}
.Banner-content-item-new>a{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    background: #fed700;
    position: relative;
}
.Banner-content-item-new>a::after{
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.Banner-content-item-new>a>span{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 20px 0 5px;
}
.Banner-content-item-img{
    display: flex;
    flex-grow: 1;
    padding: 5px 10px;
}
.Banner-content-item__txt{
    margin-left: 10px;
}
.Banner-content-item__txt>p{
    margin-bottom: 10px;
}
.Banner-content-item__txt>span{
    font-size: 12px;
    color: #919191;
}
.Banner-content-item>img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1024px) {
    .Banner{
        margin-top: 48px;
    }
    .Carousel{
        position: relative;
        flex: 0 0 auto;
        width: 100%;
    }
    .Carousel-nav{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0,0,0,.5);
        padding: 6px 20px;
        min-height: 0;
        border-radius: 20px;
    }
    .Carousel-nav-item{
        width: 15px;
        height: 15px;
        background: rgb(201, 200, 200);
        border-radius: 50%;
        margin: 0 5px;
        border: none;
        cursor: pointer;
    }
    .Carousel-nav-item:hover{
        background: #fff;
    }
    .Carousel-nav-item--active{
        background: #fff;
    }
}
/*************** Promotion ***************/
.Promotion{
    margin-top: 15px;
    background: #fff;
}
.Promotion-head{
    text-align: center;
    padding: 12px 0;
    background: rgb(241, 38, 38);
}
.Promotion-head>h2{
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}
.Promotion-content{
    position: relative;
    overflow: hidden;
}
.Promotion-content-list{
    display: flex;
    position: relative;
    left: 0;
}
.Promotion-content-item{
    min-width: 20%;
}
.Promotion-content-item:hover .Promotion-content-item__img>img{
    transform: translateY(-10px);
}
.Promotion-content-item:hover .Promotion-content-item-detail__name{
    color: #288ad6;
}
.Promotion-content-item__img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
    height: 180px;
}
.Promotion-content-item__img>img{
    width: 180px;
    transform: translateY(0);
    transition: all ease 300ms;
}
.Promotion-content-item-discount{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding: 4px 10px 4px 0;
}
.Promotion-content-item-discount>p{
    padding-left: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
.Promotion-content-item-discount>i{
    position: absolute;
    text-align: center;
    line-height: 20px;
    top: 0;
    left: 0;
    background: #ec1f1f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.Promotion-content-item-detail{
    padding: 20px 10px;
}
.Promotion-content-item-detail__name{
    font-size: 14px;
    font-weight: 400;
}
.Promotion-content-item-detail__price{
    margin: 8px 0;
    color: #e10c00;
    font-weight: 700;
}
.Promotion-content-item-detail__price>span{
    color: #333;
    margin-left: 10px;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 12px;
}
.Promotion-content-item-detail__txt{
    font-size: 12px;
    line-height: 17px;
}
.Promotion-content__btn{
    position: absolute;
    top: 20%;
    padding-bottom: 60px;
    margin: 0;
    background: #fff;
    width: 34px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    color: #999;
    font-family: -webkit-body;
    cursor: pointer;
    user-select: none;
}
.Promotion-content__btn--prev{
    left: 0;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
}
.Promotion-content__btn--next{
    right: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.15);
}
@media screen and (max-width: 1024px) {
    .Promotion-content-item{
        min-width: 25%;
    }
}